//@theme "/usr/share/rofi/themes/material.rasi"
//@theme "/usr/share/rofi/themes/material.rasi"
//@theme "/usr/share/rofi/themes/material.rasi"
@theme "/home/sandeep/.local/share/rofi/themes/rounded-purple-dark.rasi"
